# 依存関係
node_modules/
vendor/
.vscode/
template/

# ビルド対象外フォルダ
src/null/

# ビルド成果物
dist/
build/
.next/
*.exe
*.dll
data/

# ログファイル
*.log
logs/

# 一時ファイル
*.tmp
*.temp
.DS_Store
Thumbs.db
nul

# 設定ファイル（機密情報含む）
.env
next-env.d.ts
memo.md
*storybook.log
storybook-static
